.card {
 font-family: arial;
 text-align: center;
 color: black;
 background:white;
 background-color: white;
}

@media screen and (min-width: 980px) /* Desktop */ {
  .card {
    font-size: 400%;
  }
}

@media screen  and (max-width: 979px) /* Tablet */ {
  .card {
    font-size: 275%;
    background: #e0dbd7;
  }
}